<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="main.css">
</head>
<body>

<h1>Your Calendar</h1>
<div class="navbar">
    <div class="navbar-links">
        <header>
            <a href="index.html">IMS - Home</a>
            <a href="Calendar.html">Calendar</a>
            <a href="StudentForm.html">Student Mentee Application</a>
            <a href="MentorForm.html">Student Mentor Application</a>
            <a href="ContactUs.html">Contact Us</a>
            <a href="AboutUs.html">About Us</a>
            <a href="FAQ_1.html">Frequently Asked Questions</a>
        </header>
    </div>
</div>

<!-- Make sure to make a little box of color to show the possible calender-->
<footer>
</footer>
</body>
</html>

