<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="main.css">
</head>
<body>

<center><h1>Frequently Asked Questions</h1></center>
<div class="navbar">
    <div class="navbar-links">
        <header>
            <a href="HomePage.html">IMS - Home</a>
            <a href="Calendar.html">Calendar</a>
            <a href="StudentForm.html">Student Mentee Application</a>
            <a href="MentorForm.html">Student Mentor Application</a>
            <a href="ContactUs.html">Contact Us</a>
            <a href="AboutUs.html">About Us</a>
            <a href="FAQ_1.html">Frequently Asked Questions</a>
        </header>
    </div>
</div>

<p>Q: What can I do if I forget my user name and/or password?<br>
A: There is a button on the lggin page to reset your user name and/ or password. 
<p>Q: As a student what should I do if I am not satisfied with a mentor advice?<br>
A: If you are not satified with a mentor's advice, then you can always reschedule with another mentor.
<p>Q: What to do if I did not receive a confirmation email from the mentee for my appointment?<br>
A: If for any reason you did not receive the confirmation email, you can always show up for the appointment or email us about the issue. 
<p>Q: As a student, how do I rate my mentor?<br>
A: After every meeting you will be prompted a window to rate your mentor.
<p>Q: What can I do if for any reason I miss my appointment?<br>
A: If you do not show up after 5 mintues for a metting, then it will be canceled and unfortunately you have to reschedule.
<p>Q: If I am having trouble to solve a Mathematic, Physics, Chemistry, or any subject problem, then I am willingly to find help?<br>
A: We will always have very bright students available until 9pm from Monday to Friday to help other students out with their homework.
<p>Q: As a student, how can I become a mentor?<br>
A: For the students who would like to become a mentor, we will have a form available on the site to fill out after that you submit that form to your faculty Chair Person.
<p>Q: Will I have to pay for the mentoring?<br>
A: Absolute not! The service is free. 
<footer>
    <p>Authors: Sidra Naru, Ryan Setaruddin, Yvens Pierre, Gary Soza, Brain Guerra, and Rafael Ramirez</p>
    <p>Company: InMyShoes</p>
    <p><a href="tel:+1345-759-0274">CLICK TO CALL</a></p>
    <p><a href="mailto:InMyShoes@gmail.com">InMyShoes@gmail.com</a></p>
</footer>
</body>
</html>